{% extends "layout.html" %}
{% block title %}Logs{% endblock %}
{% block content %}
<h1>Registros</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Registro de tareas realizadas por el bot</div>

  <!-- Table -->
  <table class="table">
<tr>
    <td>#</td>
    <td>Estado</td>
    <td>Tarea</td>
    <td>Comentario</td>
    <td>Progreso</td>
    <td>Inicio</td>
    <td>Fin</td>
</tr>
{% for log in logs %}
<tr>
    <td>{{log.id}}</td>
    <td>{{log.status}}</td>
    <td>{{log.taskName}}</td>
    <td>{{log.description}}</td>
    <td>{{log.progress}}%</td>
    <td>{{log.startTime}}</td>
    <td>{{log.endTime}}</td>
</tr>
{% endfor %}
  </table>
</div>
{% endblock %}
