{% extends "layout.html" %}
{% block title %}Progreso de tarea{% endblock %}
{% block content %}
<h1>Progreso de la tarea</h1>
<div class="progress">
  <div id="progressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    0%
  </div>
</div>
<script>
var progress = 0;
function updateProgress(percentage){
    if(percentage > 100) percentage = 100;
    $('#progressBar').css('width', percentage+'%');
    $('#progressBar').html(percentage+'%');
}

function update_thing(){
    if(progress >= 100){
        $('#progressBar').removeClass('progress-bar-info');
        $('#progressBar').addClass('progress-bar-success');
        return;
    }
    $.ajax({
        type: 'GET',
        url: '{{url_for('logapi', task=taskId) }}',
        async:true
    }).done(function(msg) {
        updateProgress(msg);
        progress = msg;
    });
}

setInterval(function(){update_thing();}, 2000);

</script>
{% endblock %}
